<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>fljota</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link rel="manifest" href="<%= Routes.static_path(@conn, "/js/manifest.json") %>"/>

<script>
// Check that service workers are supported
if ('serviceWorker' in navigator) {
  // Use the window load event to keep the page load performant
  window.addEventListener('load', () => {
    navigator.serviceWorker.register('/js/service-worker.js');
  });
}
</script>


  </head>
  <body>
    <header>
      <section class="container">
  
          <img src="<%= Routes.static_path(@conn, "/images/fljota_offline.svg") %>" alt="fljota.network for a better universe" style="width:200px;"/>
  
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
    <footer>

    <div class="container">



  <div class="row">
    <div class="column">DEV: <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %>
            <% end %></div>
    <div class="column column-50 column-offset-25">fljota.network - <br />the upcoming floating item network <br /> for a better universe</div>
  </div>

</div>
     | 
          
    </footer>
  </body>
</html>
